html, body {
  margin: 0;
  height: 100%;
  background-color: rgb(234, 237, 239);
}

@font-family: 'Source Sans Pro', sans-serif;
@teal-color: rgb(1, 120, 110);


nav {
  background-color: @teal-color;
  padding-left: 10px;
}

.new-pairs-button {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.record-pairs-button {
  margin-top: 10px;
}

.plus-button {
  margin-top: 10px;
  margin-left: 10px;
}

.add-human-form {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-top: 10px;

  .input-field {
    margin-left: 10px;
    width: 200px;
  }
  .btn {
    margin-top: 10px;
    margin-left: 10px;
  }
}

.human-list-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 10px;

  .human-container {
    width: 200px;
    margin-right: 10px;
  }
}

.pair-list-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 10px;

  .pair-container {
    width: 200px;
    margin-right: 10px;

    .chip {
      height: auto;
      line-height: inherit;
    }
  }
}
